<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      Clientes
    </div>
    <div class="card-body">
      <h5 class="card-title">Ejercicio de clientes</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consectetur dolore error culpa quo et ex? 
        Excepturi quos ipsam cum consequuntur veniam. Id ea ipsum ipsam nobis voluptate! Commodi, voluptas.
      </p>
      <a routerLink="/cliente" class="btn btn-primary">Ir a clientes</a>
    </div>
  </div>
</div>
